body {
    font-family: 'Arial, sans-serif';
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    direction: rtl;
    flex-direction: column;
    position: relative;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
    padding-top: 60px; /* Adjust the padding-top to make space for the logo */
}

.logo {
    position: absolute;
    top: -40px; /* Adjust the top value to position the logo above the container */
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    width: 120px; /* Increased the width of the logo */
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-left: 5px;
}

.remember-me label {
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff9800;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #007bff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
